html {
  position: relative;
  min-height: 100%;
}
body {
  background-color: #E6E6E6;
  height: 100%;
}
header
{
  width: 100%;
  background-color: #333;
  box-shadow: 0 5px 5px #999;
  margin: 0;
}
header.container
{
  margin: 0;
  padding: 0;
}
.logo
{
  width: 60%;
}
.headerB
{
  padding: 0;
}
#buscar
{
  width: 600px;
  height: 45px;
  vertical-align: middle;
}
#submit
{
  height: 45px;
  background-color: #fff;
  margin-left: -9px;
  border: none;
}
aside
{
  background-color: #D8D8D8;
  height: 3200px;
}
.footer {
  
  width: 100%;
  background-color: #333;
  color: #fff;
  margin-top: 20px;
  padding: 0.5em 0;
}

.footer a
{
  color: #fff;
}

.imagen
{
  width: 100%;
margin: 0;
padding: 0;
box-shadow: #ccc 2px 2px 5px;

}
.imagen:hover
{
  box-shadow: #ccc 6px 6px 10px;
}
.cuadro
{
  margin: 1em 0;
  background-color: #fff;
  padding: 1em;
}

.descripcion h3
{
  text-transform: capitalize;
  font-weight: bolder;
}
.descripcion h3:hover
{
  text-transform: capitalize;
  font-weight: bolder;
  color: #B40404;
}
.descripcionC
{/*
  height: 400px;
  overflow:hidden;
  white-space:nowrap;
  text-overflow: ellipsis;*/
}
.descripcionC p
{
  font-size: 0.9em;
  color: #6E6E6E; 
  overflow: hidden;
  display: block;
}
.descripcionC p:before {
  content:'...';
  position: absolute;
  top: 2.5rem;
  right: 0;
}
.descripcionC  p::after {
  content: '';
  background: inherit;
  position: absolute;
  right: 0;
  width: 1rem;
  height: 1rem;
  z-index: 1;
  
}
.linkMore
{
  text-decoration: none;
  background-color: #B40404;
  padding:0.8em;
  box-sizing: border-box;
  font-size: 0.9em;
  color: #fff;
}
.linkMore:hover
{
  color: #fff
}